.row{padding-top:20px;}
.main-box{width:75%; margin: auto;}
.button1 {width: 90%;}
.button2 {width: 225px;}

.img-container {
    text-align: center;
  }
table.fixed {table-layout:fixed; width:1250px;}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}